@font-face {
    font-display: swap;
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/orbitron-v35-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2');
}