// Polices
$font-title: 'Orbitron', sans-serif;
$font-text: 'Inter', sans-serif;

// Couleurs principales
$color-bg: #0F1726;        // Fond principal
$color-bg-2: #1E2939;      // Fond secondaire
$color-header: #090E17;    // Header et footer
$color-red: #E10600;       // Rouge F1 (boutons, CTA)
$color-white: #FFFFFF;     // Textes